<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<title>Hello from Flask</title>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->

<!--<body>-->

<!--{% if name %}-->
  <!--<h1>Hello {{ name }}!</h1>-->
<!--{% else %}-->
  <!--<h1>Hello, World!</h1>-->
<!--{% endif %}-->


<!--</body>-->
<!--</html>-->



<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>HTML5 Sample</title>
  <meta name="description" content="HTML5 Sample Page">
  <meta name="author" content="yeshodhan.kulkarni">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>
  <script src="js/scripts.js"></script>
</body>
</html>